#cart ul {
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

#plant {
  font-size: 14pt;
}

#controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#cart li {
  border: 1px gray solid;
  border-radius: 10px;
  padding: 5px;

  display: grid;
  gap: 5px;
}

#cart li p {
  margin: 0;
  font-size: 14pt;
  justify-self: center;
}
