#plants ul {
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

#plants li {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;

  display: grid;
  gap: 5px;
}

#plants li p {
  margin: 0;
  font-size: 48pt;
  justify-self: center;
}
