main {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
}

h2 {
  margin: 0;
}

@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
  }

  #cart {
    grid-row: 1;
  }

  #plants {
    grid-row: 2;
  }
}
